body {
  margin: 0;
}

.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: 100vh;
}

.root > * {
  position: relative;
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
